@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

  * {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  .container {
    max-width: 1400px;
    width: 100%;
    margin-inline:auto;
    margin-top: 10px;
    display: flex;
  }

  .card {
    background: var(--bg-cards);
    border-radius: 15px;
    box-shadow: 0 0 2px rgb(14, 13, 13);
  }

  .side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10px;
    flex: 1;
  }

  .side .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50px;
    padding: 30px;
  }

  .side .profile img {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(3, 255, 3);
    border-radius: 50%;
  }

  .side .profile p {
    font-size: .8rem;
    opacity: 70%;
  }

  .side .info  {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .8rem;
    padding: 50px;
  
  }

  .side .info img{
    width: 20px;
  }
  .side .info ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
  }

  .side .info li a {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--text-color);
  }

  .side .tech {
    padding: 30px;

  }

  .side .tech ul {
    display: flex;
    gap: .7rem;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .side .tech li {
    background: var(--bg-techs);
    border-radius: 10px;
    flex: 0 0 70px;
    height: 20px;
    text-align: center;
    font-size: .8rem;
    color: #000;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10px;
    flex: 4;
  }

  .section .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }

  .section .cards .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
  }
  .section .cards .title:hover {
    box-shadow: 0 0 2px var(--text-color);
  }

  .section .cards .title a  {
    color: var(--text-color);
    opacity: 70%;
    font-size: .8rem;
  }

  .section .cards .title a:hover {
    opacity: 100%;

  }

  .section .projects {
    display: flex;
    gap: 1rem;
  }

  .section .projects .project {
    max-width: 490px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .8rem;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease; 
  }

  .section .projects .project:hover {
    box-shadow: 0 0 5px var(--bg-techs);
  }


  .section .projects .project header {
    display: flex;
    gap: 1rem;
  }

  .section .projects .project header img {
    width: 20px;
  }

  .section .projects .project .github-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
  }

  .section .projects .project .github-stats img {
    width: 15px;
  }

  .section .projects .project .github-stats  p {
    display: flex;
    align-items: center;
    gap: .4rem;
  }

  .section .post img {
    width: 75px;
    border-radius: 20px;
  }

  .section .post {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .8rem;
    cursor: pointer;
  }
  .section .post:hover {
    box-shadow: 0 0 5px var(--bg-techs);
  }
  .section .post .post-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  section .post .post-content header p {
    font-size: .7rem;
    margin-top: 6px;
  }

  section .post .post-content .content {
    font-size: .8rem;
  }

  section .post .post-content .content .tag{
    font-size: .9rem;
  }