@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        background: var(--body-background);
        color: var(--text-color);
    }

    .red {
        color: var(--color-logo);
    }

    .main-container {
        max-width: 1440px;
        margin-inline: auto;
        
    }

    .parent-container {
        max-width: 100%;
        background-image: url(../images/background.png);
        padding-top: 60px ;
    }

    .parent-container .header .navbar, .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .parent-container .header .navbar .nav {
       gap: 4rem;
    }

    .parent-container .header .navbar .nav li a  {
        color: var(--text-color);
        text-decoration: none;
        font-size: 1rem;
    }

    .parent-container .child-container {
       max-width: 1277px;
       margin-inline: auto;
    }

    .intro {
        display: grid;
        margin-top: 90px;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        gap: 3rem;
    }

   .intro h1 {
    font-size: 3rem;
    line-height: 1.2;
   }

   .intro .discover {
    display: flex;
   gap: 3rem;
   }

   .intro .discover img {
   
   }

   .intro .market {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    
   }

  /* .intro div {
    border: 1px solid red;
   }
   */
 .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    gap: 1rem;
 }

 .gallery img {
    width: 100%;
    border: 1px solid #fff;
 }

 .banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    border-bottom: 1px solid #fff;
 }

 .banner .numbers {
    text-align: center;
    padding-top: 100px;
 }

 .banner .numbers h2 {
    font-size: 3rem;
 }

 .banner .numbers div {
    margin-bottom: 50px;
    line-height: 1.3;
 }

 .banner .numbers p {
    opacity: 50%;
 }

 .banner .text {
    border-left: 1px solid #fff;
   
 }

 .banner .text .articles {
    max-width: 952px;
    display: flex;
    gap: 10rem;
    padding-bottom: 20px;
    padding-top: 90px;
    margin-inline: auto;
 }

 .ranking {
    margin-top: 90px;
 }

 .ranking .child-container {
    max-width: 1265px;
    margin-inline: auto;
 }

 .ranking .autronauts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15rem;
    row-gap: 5rem;
 }

 .ranking .autronauts .nft .title {
    display: flex;
    align-items: center;
    gap: 8rem;
   margin-bottom: 20px;
 }

 .ranking .autronauts .author {
    display: flex;
    align-items: center;
    gap: 12.1rem;
    margin-bottom: 20px;
}

.ranking .autronauts .author p {
    opacity: 50%;
}

 .ranking .autronauts .nft .title h3 {
    font-size: 2rem;
    font-weight: 100;
 }

 .artists {
    margin-top: 90px;
 }

 .artists .child-container {
    max-width: 1287px;
    margin-inline: auto;
    text-align: center;
 }

 .artists .artist-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
 }

 .artists .artist-list .artist {
    background: var(--card-color);
    max-width: 350px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
 }

 .footer {
    max-width: 100%;
    background: var(--card-color);
 }

 .footer .child-container {
    max-width: 1277px;
    margin-inline: auto;
 }

 .footer .item-1 {
    border-bottom: 1px solid #fff ;
 }

 .footer .item-1 .child-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
 }


 .footer .item-1 .arrow {
    background: var(--color-logo);
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
 }

 .footer .item-2 .child-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .footer .item-2 .links {
    display: flex;
    gap: 15rem;
    padding: 80px;
    flex: 2;
    border-left: 1px solid #fff;
 }

 .item-2 {
    border-bottom: 1px solid #fff;
 }

 .footer .item-2 .news {
   flex: 1;
 }

 .footer .item-2 .news h3 {
    font-size: 1.8rem;
    font-weight: 100;
    margin-bottom: 25px;
 }

 .footer .item-2 input {
    width: 250px;
    height: 50px;
    background: var(--color-input);
    border: none;
    padding-left: 30px;
 }

 .footer .item-2 button {
    width: 100px;
    height: 50px;
    border: none;
 }

 .footer .item-2 .links a {
    color: var(--text-color);
    opacity: 50%;
    line-height: 2;
 }

 .footer .item-3 .child-container {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
 }

 .footer .item-3 ul {
    display: flex;
    gap: 3rem;
 }

 


